.input,
.input:focus {
    border-bottom: 3px solid black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.input:focus {
    border-bottom: 3px solid orange;
}

.label {
    margin: 0 auto;
    width: 150px;
    display: block;
}