.container {
    display: flex;
    box-shadow: 3px 3px orange;
    margin-bottom: 30px;
    gap: 30px;
    align-items: center;
}

.infoMode {
    display: flex;
    gap: 30px;
    align-items: center;
}

.info,
.editForm {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.actions {
    display: flex;
    gap: 10px;
}

.data {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.lastInput {
    margin-bottom: 5px;
}